<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      
      <div class="card-header">
        <h4 class="card-title">
          <h3>You loved the <%= @dish.name %> at </h3> 

            <div class="badge badge-primary float-right">
              <% if @dish.cuisine.present? %>
              <%= @dish.cuisine.name %>
              <% end %>
            </div>
        </h4>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <form action="/create_bookmark" method="post">

      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">
      
      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for notes -->
      <input type="hidden" name="notes" value="">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">Venue</label>
        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control", :include_blank => "Choose a venue") %>
      </div>

      <div><button class="btn btn-primary btn-sm">
        <i class="fa fa-heart"></i>
      </button></div>
      
      </form>
        </li>
      
        <div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      <% Bookmark.where(dish_id: @dish.id, user_id: current_user.id).each do |bookmark| %>
        <li class="list-group-item">

          <p>
          <a href="/venues/<%= bookmark.venue_id %>">
            <%= Venue.find(bookmark.venue_id).name %>
          </a>
          </p>
          
          <small class="float-right text-muted">
                <%= Venue.find(bookmark.venue_id).updated_at %>

                <a href="/bookmarks/<%= bookmark.id %>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>

                <a href="/delete_bookmark/<%= bookmark.id %>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
          </small>
        
        </li>
      <% end %>
    
    </ul>
  </div>
</div>      
      </ul>

        <div class="card-footer text-center">
        <a href="/dishes" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>